<div class="header">
  <div class="header__search">
    <mat-form-field class="header__search__form">
      <input matInput type="search">
      <button matPrefix mat-icon-button aria-label="Search">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="header__notifications">
    <button mat-mini-fab class="header__notifications__button">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-mini-fab class="header__notifications__button">
      <mat-icon>home</mat-icon>
    </button>
  </div>
  <div class="header__avatar">

  </div>
</div>

