<mat-sidenav-container class="container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isLarge$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isLarge$ | async) ? 'side' : 'over'"
               [opened]="((isLarge$ | async) === true)"
               [disableClose]="isLarge$ | async">
    <mat-nav-list class="sidenav__list">
      <app-sidenav-item *ngFor="let item of sidenavList"
                        [sidenavList]="item">

      </app-sidenav-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    @if (isSmall$ | async) {
      <mat-nav-list class="rail">
        <div class="rail__header">
          <button
            class="rail__header__button"
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <button
            class="rail__header__button"
            type="button"
            aria-label="Toggle sidenav"
            mat-fab>
            <mat-icon aria-label="Side nav toggle icon">edit</mat-icon>
          </button>
        </div>
        <div class="rail__main">
          <app-sidenav-content-item *ngFor="let item of contentList"
                                    [contentList]="item">

          </app-sidenav-content-item>
        </div>
      </mat-nav-list>
    }

    @if (isXSmall$ | async){
      <mat-toolbar aria-posinset="bottom" class="header-bar">
        <button
          class="header=bar__button"
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <p>Angular-project</p>
      </mat-toolbar>
      <div class="bar">
        <app-sidenav-content-item *ngFor="let item of contentList"
                                  [contentList]="item">

        </app-sidenav-content-item>
      </div>
    }
    <app-content></app-content>
  </mat-sidenav-content>
</mat-sidenav-container>
