:host{
}


.container {
  height: 100%;
  min-height: 360px;
}

.sidenav {
  width: 360px;
  padding: 12px;
  font-size: 14px;
  -ms-overflow-y: hidden;
  &__header{
    background: inherit;
  }
  &__list{
    padding: 0;
  }
  &__line{
    border: none;
    border-top: 1px solid white;
    margin: 0;
    place-self: center;
    width: 310px;
  }

}
.rail{
  position: fixed;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 16px;
  padding-inline: 24px;
  display: grid;
  width: 80px;
  grid-template-rows: repeat(2, min-content);
  &__header{
    display: grid;
    place-items: center;
    align-items: center;
    grid-template-rows: auto min-content;
    padding: 44px 0 56px;
    gap: 4px;


  }
  &__main{
    display: grid;
    grid-template-rows: auto min-content;
    gap: 12px;
    &__item{
      display: grid;
      gap: 4px;
      grid-template-rows: repeat(2, min-content);
      place-self: center;
      text-align: center;
    }
  }

}
.bar{
  background-color: #141317;
  display: flex;
  width: 100vw;
  padding-block: 8px;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
    &__item{
      display: grid;
      grid-template-rows:  repeat(2, min-content);
    }
}
.mat-mdc-button-touch-target{
  width: 80px;
}
.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  z-index: 1;
}

