// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'scss/theme-colors' as my-theme;
:root{
  color-scheme: light dark;
  @include mat.icon-overrides((
    color: var(--mat-sys-on-surface-variant)
  ))
}
html {
  @include mat.theme((
    color: (
      theme-type: color-scheme,
      primary: my-theme.$primary-palette,
      tertiary: my-theme.$tertiary-palette,
    ),
    typography: Rubic,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  height: 100%;
  min-height: 360px;
}


.sidenav {
  width: 376px;
  display: grid;
  padding-inline: 12px;
  &__content{
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 200px;
    padding-top: 123px;
    &__logo{
      display: grid;
      place-items: center;
    }
    &__list{
      display: grid!important;
      gap: 12px;
      &__item{
        height: 56px!important;
        &__content{
          display: grid;
          grid-template-columns: repeat(2, min-content);
          place-items: center;
          gap: 12px;
          font-size: 24px;
          &__icon{

          }
          &__name{

          }
        }
      }
    }
  }
}
.rail{
  font-family: Rubic, sans-serif;
  position: fixed;
  display: grid;
  width: 80px;
  grid-template-rows: repeat(2, min-content);
  &__header{
    display: grid;
    place-items: center;
    align-items: center;
    grid-template-rows: auto min-content;
    padding: 44px 0 200px;
    gap: 4px;
  }
  &__main{
    display: grid;
    grid-template-rows: auto min-content;
    place-self: center;
    gap: 30px;
  }
}
.bar{
  background-color: var(--mat-sys-surface);
  display: flex;
  width: 100vw;
  padding-top: 12px;
  padding-bottom: 16px;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
}
.item-content {
  display: grid;
  grid-template-rows:  repeat(2, min-content);
  place-content: center;
  place-items: center;
  text-align: center;
}
.header{
  display: grid;
  grid-template-columns: 1fr repeat(2, min-content);
  &__search{
    &__form{
      width: 100%;
      .mdc-text-field--filled{
        border-radius: 30px!important;
      }
    }
  }
  &__notifications{
    display: grid;
    grid-template-columns: repeat(2, min-content);
  }
  &__avatar{

  }
}



